<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TaskPaper Document</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.hogbaysoftware.taskpaper.taskpaper</string>
				<string>public.plain-text</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>TPIcon-72.png</string>
		<string>TPIcon-57.png</string>
		<string>TPIcon-114.png</string>
		<string>TPIcon-144.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>TPIcon-72.png</string>
				<string>TPIcon-57.png</string>
				<string>TPIcon-114.png</string>
				<string>TPIcon-144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.nolongerhogbaysoftware.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.hogbaysoftware.taskpaper</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>taskpaper</string>
				<string>DROPBOX KEY NEEDED</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>234</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>SourceCodePro-Regular.ttf</string>
		<string>SourceCodePro-Bold.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>Ubuntu-R.ttf</string>
		<string>Ubuntu-B.ttf</string>
		<string>Vera.ttf</string>
		<string>VeraMono.ttf</string>
		<string>VeraBd.ttf</string>
		<string>VeraMoBd.ttf</string>
		<string>CourierPrime-Bold.ttf</string>
		<string>CourierPrime.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TaskPaper Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.hogbaysoftware.taskpaper.taskpaper</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>taskpaper</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
